*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: pop;
    src:url(./fonts/Poppins-Medium.ttf);
}
.main{
    width: 100%;
    height: auto;
    background-color:  rgb(188, 229, 241);
    font-family: pop;
    padding: 50px 0;
    display: grid;
    place-items: center;
}
.main .heading{
    font-size: 27px;
    font-weight: 500;
    color: black;
    position: relative;
    margin-bottom: 80px;
}
.main .heading span{
    color:blue;
    font-weight: 550;
}

.heading::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right, rgb(20, 16, 240), rgb(19, 25, 112));
    transform: translateX(-50%);
}
/*Container css start--*/
.container {
    width: 70%;
    height: auto;
    position: relative;
}
.container::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to bottom, blue,rgb(19, 25, 112));
}
.container ul{
    list-style: none;
}
.container ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: rgb(208, 236, 245);
    border-radius: 10px;
    box-shadow: 1px 1px 25px #1b1b1b;
    margin-bottom: 30px;
    z-index:99;
    position: relative;
}
.container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: right;
}
.container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}
.container ul li:nth-child(4){
    margin-bottom: 0;
}
.container ul li .title{
    font-size: 22px;
    font-weight: 600;
    color: rgb(20, 16, 240);
}
ul li p{
    font-size: 15px;
    color: rgb(72, 74, 75);
    margin: 9px 0;
    line-height: 23px;
}
ul li a{
    font-size: 15px;
    color: rgb(20, 16, 240);
    text-decoration: none;
}
.container ul li .circle{
    width: 30px;
    height: 30;
    background-color: rgb(3, 1, 99);
    border-radius: 50%;
    position: absolute;
    top: 0;
    
}
.container ul li .circle::after{
    content: '';
    width: 15px;
    height: 15px;
    background-color:blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container ul li:nth-child(odd) .circle{
    right: -32px;
    transform: translate(50%, -50%);
}
.container ul li:nth-child(even) .circle{
    left: -58px;
    transform: translate(50%, -50%);
}
#more {display: none;}